$shadow: #243447;
$gray: #7a7a7a;
$light_gray: #f2f2f2;
$red: #cc241d;
$green: #10c600;
$background: #1d2021;
$background_light: #01232b;

$font_size: 14px;
$font_size_small: 12px;
$font_family: sans-serif;
$font_color: #ffffff;

html, body {
	margin: 0;
	padding: 0;
	font-size: $font_size;
	font-family: $font_family;
	color: $font_color;
	line-height: 1;
	background: $background_light;
}

.logo {
	float: left;
	margin: 0 6px 0 0;
}

.main {
	max-width: 900px;
	margin: 40px auto 40px auto;
	padding: 20px;
	box-shadow: 0 0 5px 5px $shadow;
	border-radius: 3px;
	background: $background;

	.title {
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px 0;

		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;

			button {
				margin: 0 2px 0 2px;
			}
		}
	}

	.server {
		display: flex;
		justify-content: space-between;
		margin: 6px 0 6px 0;
		padding: 10px;
		border: 1px solid $shadow;
		border-radius: 1px;

		.name {
			font-weight: bold;
			margin: 0 0 6px 0;

			.fas {
				margin: 0 4px 0 4px;
			}

			.fas:hover {
				cursor: pointer;
			}
		}

		.info {
			color: $gray;
		}

		.start {
			background: $green;
		}

		.stop {
			background: $red;
		}

		.online {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px 10px 6px 10px;
			background: $green;
		}

		.offline {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px 10px 6px 10px;
			background: $red;
		}
	}
}

.main-small {
	max-width: 450px;
}

.end {
	font-size: $font_size_small;
	text-align: center;
	margin: 20px 0 0 0;
}

.tabs {
	display: flex;
	margin: 0 0 20px 0;
	border-style: solid;
	border-color: $gray;
	border-width: 0 0 1px 0;

	.tab {
		padding: 6px;
		margin: 0 2px 0 0;
		border-radius: 3px 3px 0 0;
	}

	.tab:hover {
		cursor: pointer;
	}

	.tab-active {
		background: $gray;
	}
}

.collapsible {
	margin: 10px 0 10px 0;

	.collapsible-title {
		display: flex;
		justify-content: space-between;
		border-style: dotted;
		border-color: $gray;
		border-width: 0 0 1px 0;
		padding: 6px;
	}

	.collapsible-title:hover {
		cursor: pointer;
	}

	.collapsible-content {
		padding: 20px 6px 6px 6px;
	}
}

.box {
	border: 1px solid $gray;
	border-radius: 3px;
	padding: 20px;
	margin: 10px 0 10px 0;
}

.error-toast {
	position: absolute;
	left: 50%;
	top: 20px;

	.error-content {
		position: relative;
		left: -50%;
		border-radius: 1px;
		background: $red;
		color: #ffffff;
		padding: 10px;
	}
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 0 6px;
}

button, input[type~="submit"] {
	width: auto;
	border-width: 0;
	font-size: $font_size;
	font-family: $font_family;
	background: $gray;
	color: #ffffff;
	border-radius: 1px;
	padding: 6px 10px 6px 10px;
	margin: 4px 0 4px 0;

	.fas {
		margin-right: 6px;
	}
}

button:hover, input[type~="submit"]:hover {
	cursor: pointer;
	box-shadow: 0 0 2px 2px $shadow;
}

input, select, textarea {
	width: 100%;
	box-sizing: border-box;
	font-size: $font_size;
	font-family: $font_family;
	border: 1px solid $light_gray;
	border-radius: 1px;
	padding: 6px;
	margin: 4px 0 4px 0;
}

input[type~="checkbox"] {
	width: auto;
	margin: 0 4px 0 0;
}

.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;

	label {
		font-size: $font_size;
	}
}

select {
	width: auto;
}

label {
	width: 100%;
	box-sizing: border-box;
	font-size: $font_size_small;
}

.primary {
	background: $red !important;
}

.error {
	color: $red;
	width: 100%;
	box-sizing: border-box;
	font-size: $font_size_small;
}

a {
	color: $red;
	text-decoration: none;
}

@media (max-device-width: 700px) {
	.main {
		margin: 0 auto 0 auto;
	}
}
