{{template "head.html"}}

<div class="main main-small">
    <img src="static/logo.png" alt="" class="logo" />
    <div class="title">
        <h1>Login</h1>
    </div>
    {{if .Message}}
        <div class="error">{{.Message}}</div>
    {{end}}
    <form method="post">
        <label>
            Password
            <input type="password" name="password" />
        </label>
        <input class="primary" type="submit" value="Login" />
    </form>
    <div class="end">
        <a href="https://github.com/assetto-corsa-web/accweb" target="_blank">accweb Version 2.0</a>
    </div>
</div>

{{template "end.html"}}
