@import "_vars";

label {
  display: block;
  padding: 5px 0;
  font-size: $font_size_small;
  color: $light_gray;
}

input, submit, button {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  background: #ffffff;
  border-width: 0;
  border-radius: 1px;
}

[type~="submit"], button {
  background: $highlight;
  color: $font_color;
  width: auto;
  cursor: pointer;
}
