$font_size: 14px;
$font_size_small: 12px;
$font_family: sans-serif;
$font_color: #fff;

$background: #1c1d1e;
$foreground: #2a2d2e;
$light_gray: #bcbcbc;
$highlight: #e40514;

$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
