@import "_vars";

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font_size;
	font-family: $font_family;
	color: $font_color;
	line-height: 1;
}

html {
	margin-right: calc(-100vw + 100%); /* Fix for scroll-bar jump */
	background: $background;
}

body {
	overflow-x: hidden;
}

.logo {
	float: left;
	margin: 0 6px 0 0;
	max-height: 40px;
}

.main {
	max-width: 900px;
	margin: 40px auto;
	padding: 20px;
	background: $dark-gray;
	border: 1px solid $medium_blue;
	border-radius: 8px;

	.title {
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px 0;

		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;

			a, button {
				display: block;
				margin: 0 2px;
				padding: 8px 12px;
			}
		}
	}
}

.main-small {
	max-width: 450px;
}

.end {
	font-size: $font_size_small;
	text-align: center;
	margin: 20px 0 0 0;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 0 6px;
}

a {
	color: $light_blue;
	text-decoration: none;
}

@import "_card";
@import "_form";

@media (max-device-width: 900px) {
	.main {
		margin: 0;
	}
}

/*.tabs {
	display: flex;
	margin: 0 0 20px 0;
	border-style: solid;
	border-color: $dark_green;
	border-width: 0 0 1px 0;

	.tab {
		padding: 10px 12px;
		margin: 0 2px 0 0;
		border-radius: 2px 2px 0 0;
		cursor: pointer;
	}

	.tab-active {
		background: $dark_green;
		color: $green;
	}
}

.collapsible {
	margin: 10px 0;

	.collapsible-title {
		display: flex;
		justify-content: space-between;
		border-style: solid;
		border-color: $medium_blue;
		border-width: 0 0 1px 0;
		padding: 10px 6px;
		cursor: pointer;
	}

	.collapsible-content {
		padding: 20px 6px 6px 6px;
	}
}

.box {
	border: 1px solid $gray;
	border-radius: 1px;
	padding: 20px;
	margin: 10px 0;
}

.error-toast {
	position: absolute;
	left: 50%;
	top: 20px;

	.error-content {
		position: relative;
		left: -50%;
		border-radius: 1px;
		background: $red;
		color: $dark_gray;
		padding: 10px;
	}
}*/
