@import "_vars";

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font_size;
	font-family: $font_family;
	color: $font_color;
	line-height: 1;
}

html {
	margin-right: calc(-100vw + 100%); /* fix for scroll-bar jump */
	background: $background;
}

body {
	overflow-x: hidden;
}

.main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	&-small {
		width: 100%;
		max-width: 320px;
		border-radius: 1px;
		background: $foreground;
		padding: 20px;
		box-shadow: $shadow;

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 0 10px 0;

			img {
				max-height: 48px;
			}
		}

		&-end {
			text-align: center;
			font-size: $font_size_small;
			padding: 20px 0 0 0;
		}
	}
}

.error {
	font-size: $font_size_small;
	color: $highlight;
}

a {
	color: $light_gray;
	text-decoration: none;

	&:hover {
		color: $highlight;
	}
}

@import "_form";
