{{$user := index . "user"}}
{{$isAdmin := index . "admin"}}

<div class="card">
    <div>
        <div class="name">
            {{$user.Username}}
        </div>
        <div class="info">
            Role: {{$user.Role}}
        </div>
    </div>
    {{if $isAdmin}}
        <div class="icons">
            <a href="/user/edit?username={{$user.Username}}"><i class="fas fa-pen"></i></a>
            <a href="/user/delete?username={{$user.Username}}"><i class="fas fa-trash"></i></a>
        </div>
    {{end}}
</div>
