{{template "head.html"}}

<div class="main">
    <img src="static/logo.png" alt="" class="logo" />
    <div class="title">
        <h1>Server</h1>
        <div class="menu">
            {{if .IsAdmin}}
                <button class="primary"><i class="fas fa-save"></i> Save</button>
                <a href="/"><i class="fas fa-ban"></i> Cancel</a>
            {{else}}
                <a href="/" class="primary"><i class="fas fa-arrow-left"></i> Back</a>
            {{end}}
        </div>
    </div>
    <div>
        {{.Form}}
    </div>
</div>

<script type="text/javascript">
    let groups = document.getElementsByClassName("group");

    for(let i = 0; i < groups.length; i++) {
        let title = groups[i].querySelector(".group-title");
        let content = groups[i].querySelector(".group-content");
        let icon = title.querySelector(".fas");

        title.addEventListener("click", () => {
            if(icon.classList.contains("fa-chevron-down")) {
                icon.classList.remove("fa-chevron-down");
                icon.classList.add("fa-chevron-up");
                content.style.height = "auto";
            }
            else {
                icon.classList.remove("fa-chevron-up");
                icon.classList.add("fa-chevron-down");
                content.style.height = "0";
            }
        });
    }
</script>

{{template "end.html"}}
