$dark_gray: #171a21;
$gray: #c7d5e0;
$light_gray: #f2f2f2;
$dark_red: #7e1313;
$red: #d85d5d;
$green: #a4d007;
$dark_green: #4c6b22;
$dark_blue: #1b2838;
$medium_blue: #233D51;
$light_blue: #67c1f5;
$background: $dark_blue;

$font_size: 14px;
$font_size_small: 12px;
$font_family: sans-serif;
$font_color: $gray;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: $font_size;
	font-family: $font_family;
	color: $font_color;
	line-height: 1;
	background: $background;
}

html {
	margin-right: calc(-100vw + 100%); /* Fix for scroll-bar jump */
}

body {
	overflow-x: hidden;
}

.logo {
	float: left;
	margin: 0 6px 0 0;
	max-height: 40px;
}

.main {
	max-width: 900px;
	margin: 40px auto;
	padding: 20px;
	background: $dark-gray;
	border: 1px solid $medium_blue;
	border-radius: 8px;

	.title {
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px 0;

		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40px;

			button {
				margin: 0 2px;
			}
		}
	}

	.server {
		display: flex;
		justify-content: space-between;
		margin: 6px 0;
		padding: 10px;
		border: 1px solid $gray;
		border-radius: 1px;

		.name {
			font-weight: bold;
			margin: 0 0 6px 0;

			.fas {
				margin: 0 4px;
				cursor: pointer;
			}
		}

		.info {
			color: $gray;
		}

		.start {
			background: $dark-green;
			color: $green;
		}

		.stop {
			background: $dark-red;
			color: $red;
		}

		.online {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px 10px;
			background: $dark-green;
			color: $green;
		}

		.offline {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 6px 10px;
			background: $dark-red;
			color: $light_gray;
		}
	}
}

.main-small {
	max-width: 450px;
}

.end {
	font-size: $font_size_small;
	text-align: center;
	margin: 20px 0 0 0;
}

.tabs {
	display: flex;
	margin: 0 0 20px 0;
	border-style: solid;
	border-color: $dark_green;
	border-width: 0 0 1px 0;

	.tab {
		padding: 10px 12px;
		margin: 0 2px 0 0;
		border-radius: 2px 2px 0 0;
		cursor: pointer;
	}

	.tab-active {
		background: $dark_green;
		color: $green;
	}
}

.collapsible {
	margin: 10px 0;

	.collapsible-title {
		display: flex;
		justify-content: space-between;
		border-style: solid;
		border-color: $medium_blue;
		border-width: 0 0 1px 0;
		padding: 10px 6px;

		.collapse-icon {
			cursor: pointer;
		}
	}

	.collapsible-content {
		padding: 20px 6px 6px 6px;
	}
}

.box {
	border: 1px solid $gray;
	border-radius: 1px;
	padding: 20px;
	margin: 10px 0;
}

.error-toast {
	position: absolute;
	left: 50%;
	top: 20px;

	.error-content {
		position: relative;
		left: -50%;
		border-radius: 1px;
		background: $red;
		color: $dark_gray;
		padding: 10px;
	}
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 0 6px;
}

button, input[type~="submit"] {
	width: auto;
	border-width: 0;
	font-size: $font_size;
	font-family: $font_family;
	background: $medium_blue;
	color: $light_blue;
	border-radius: 2px;
	padding: 8px 12px;
	margin: 4px 0;
	cursor: pointer;

	.fas {
		margin-right: 6px;
	}
}

input, select, textarea {
	width: 100%;
	box-sizing: border-box;
	font-size: $font_size;
	font-family: $font_family;
	background: $dark_blue;
	color: $light_gray;
	border: 1px solid $medium_blue;
	border-radius: 1px;
	padding: 6px;
	margin: 4px 0;
}

input[type~="checkbox"] {
	width: auto;
	margin: 0 8px 0 0;
}

input[disabled="disabled"] {
	background-color: $dark_gray;
	border-color: $gray;
}

.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;

	label {
		font-size: $font_size;
	}
}

select {
	width: auto;
	display: block;
}

label {
	width: 100%;
	box-sizing: border-box;
	font-size: $font_size_small;
}

.primary {
	background: $dark_green !important;
	color: $green !important;
}

.disabled {
	background: $gray !important;
	color: $dark_gray !important;
}

.error {
	color: $red;
	width: 100%;
	box-sizing: border-box;
	font-size: $font_size_small;
}

a {
	color: $light_blue;
	text-decoration: none;
}

.button-row>button {
	margin-right: 8px;
}

.server-settings-container {
	display: grid;
	grid-gap: 2.0rem;
	margin-bottom: 1.0rem;
}

.server-settings-group {
	margin: 1.0rem 0;
}

.server-settings-container.two-columns {
	grid-template-columns: 1fr 1fr;
}

.server-settings-container.three-columns {
	grid-template-columns: 1fr 1fr 1fr;
}

.server-settings-container.four-columns {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-device-width: 700px) {
	.main {
		margin: 0 auto;
	}
}
